html, body { /* header 위쪽에 마진이 생겨 html과 body를 아래와 같이 설정 */
    height: 100%;
    width: 100%;
    margin: 0%;
}

header {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e0ffff;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    text-decoration: none;
    color: black;
}

h2 { /* header 위쪽에 마진이 생겨 html과 body를 아래와 같이 설정 */
    margin: 0%;
}

#alert {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #d3d3d3;
    border: 1px solid black;
}
